<h3>add a new artist to the schedule below</h3>

<form action="/artist/:id" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="n" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">add artist</button>
</form>